@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Outfit-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/Outfit-Bold.ttf);
}
* {
  margin: unset;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: Outfit, sans-serif;
  font-size: 15px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.2em;
  margin-bottom: 0.75em;
  line-height: 1.25;
  color: hsl(218, 44%, 22%);
}
p {
  color: hsl(220, 15%, 55%);
  line-height: 1.25;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.background {
  background-color: hsl(212, 45%, 89%);
}
.card {
  background-color: whitesmoke;
  text-align: center;
  max-width: 320px;
  padding: 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 1.5rem hsla(0, 0%, 0%, 0.5);
  margin: 1.2rem;
}
